@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  /*<==============
        Section
    ================>*/
  /*<==============
        footer
    ================>*/
}

body nav {
  width: 100%;
  height: 8rem;
  background-color: #203838;
}

body nav #check {
  display: none;
}

body nav .checkbtn {
  font-size: 2.6rem;
  float: right;
  color: #fff;
  line-height: 8rem;
  margin: 0 2rem;
  cursor: pointer;
}

body nav .logo {
  color: #fff;
  line-height: 8rem;
  font-size: 1.6rem;
  margin: 0 2rem;
}

body nav ul {
  top: 0;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  left: -100%;
  text-align: center;
  transition: all .5s;
  background-color: #8f8686;
}

body nav ul li {
  margin: 1rem 2rem;
  line-height: 4rem;
}

body nav ul li a {
  color: #000;
  display: inline-block;
}

body nav ul button {
  background-color: #f39c12;
  color: #f7f9f9;
  padding: 10px;
  cursor: pointer;
  border-radius: 0.5rem;
  border-style: none;
  margin: 1rem;
}

body nav #check:checked ~ ul {
  left: 0;
}

body section {
  border: 2px solid red;
}

body section .container {
  height: 50%;
  width: 100%;
  padding: 5rem 2rem;
  background-color: #f8c291;
}

body section .container .text__boxes {
  margin: 1rem;
}

body section .container .container__title {
  padding: 0rem 0rem 0 0;
  font: 500;
  line-height: 1.3;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  /* color: #FFF005  ; */
}

body section .container .container__title span {
  background-color: #86c0b3;
}

body section .container .container__discription {
  width: 23rem;
  font: 500;
  font-size: 2rem;
}

body section .container button {
  background-color: #f39c12;
  color: #f7f9f9;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 3.5rem;
  border-style: none;
  font-family: "Montserrat", sans-serif;
}

body section .container .btn-2 {
  background-color: #c7bebe;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

body section .image__container img {
  background-color: #4d83da;
  height: 50%;
  width: 100%;
}

body .second-section {
  border: 2px solid #030303;
}

body .second-section .heading {
  margin: 2rem;
}

body .second-section .doner-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .second-section .doner-list .doner-first {
  margin: .9rem;
  width: 26rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: .5rem;
  box-shadow: 0px 3px 5px 0px rgba(169, 151, 151, 0.75);
}

body .second-section .doner-list .doner-first img {
  display: block;
  height: 5.5rem;
  width: 5.5rem;
  margin: .5rem 0rem .5rem -.8rem;
  border-radius: .5rem;
}

body .second-section .doner-list .doner-first .doner-name {
  margin-left: -2rem;
  font-size: 1.4rem;
}

body .second-section .doner-list .doner-first .doner-city {
  margin-left: -2rem;
  font-size: 1rem;
}

body .second-section .doner-list .doner-first .date {
  padding: 1rem;
  border-radius: .8rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: #000;
}

body .second-section .doner-list .doner-first .month {
  display: block;
}

body .section-third .events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .section-third .events .event-1 {
  box-shadow: 0px 3px 5px 0px rgba(169, 151, 151, 0.75);
  width: 25rem;
  margin: 1rem;
}

body .section-third .events .event-1 img {
  height: 16rem;
  width: 25rem;
}

body .section-third .events .event-1 .title {
  margin: 1rem;
  font-size: 1.6rem;
}

body .section-third .events .event-1 .discription {
  margin: 1rem;
  font-size: 1.4rem;
}

body .section-third .events .event-1 .dateandtime {
  padding: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body .section-third .events .event-1 .dateandtime .date {
  margin-right: 1rem;
  font-size: 1.2rem;
}

body .section-third .events .event-1 .dateandtime .time {
  font-size: 1.2rem;
}

body footer {
  background-color: #868383;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body footer ul {
  width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

body footer ul li {
  margin: 0.2rem;
  list-style: none;
  cursor: pointer;
  color: #000;
}

body footer ul li a {
  color: #000;
  font-size: 2rem;
}

body footer .copyright {
  margin: 1rem 0rem 0rem -2rem;
}

@media (min-width: 800px) {
  body nav ul {
    float: right;
    z-index: 1;
    background-color: transparent;
  }
  body nav ul li {
    display: inline-block;
  }
  body nav ul li a {
    color: #fff;
  }
  body .section-one {
    display: flex;
    flex-direction: row;
  }
  body .section-one .container {
    border: 1px solid blue;
    height: 40rem;
    width: 50%;
  }
  body .section-one .image__container {
    height: 40rem;
    width: 50%;
  }
  body .section-one .image__container img {
    height: 100%;
    width: 100%;
  }
  body .second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .second-section .left {
    display: flex;
    flex-direction: row;
  }
  body .second-section .right {
    display: flex;
    flex-direction: row;
  }
  body .section-third {
    border: 2px slid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .section-third .top {
    display: flex;
    flex-direction: row;
  }
  body .section-third .bottom {
    display: flex;
    flex-direction: row;
  }
}
